.header {
  height: 50px;

  nav {
    height: 100%;
    display: flex;
    align-items: center;
    background: #100f10;
    .burger {
      flex: 0 0 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;

      svg {
        cursor: pointer;
        color: #7c7a7a;
        transition: 250ms ease-in-out;
        &:hover {
          color: #575656;
        }
      }
    }
  }
}



.title {
  flex: 1 1 auto;

  a {
    color: #bdbdbd;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
}

.menu {
  flex: 0 1 auto;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 15px;
    color: #7c7a7a;
    transition: 250ms ease-in-out;
    padding-bottom: 3px;
    border-bottom: 1px solid #100f10;
    &:hover {
      color: #575656;
      border-bottom: 1px solid #7c7a7a;
    }

  }
  .activeNavLink {
    color: #575656;
    border-bottom: 1px solid #7c7a7a;
  }
}


.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  min-height: 100vh;
  background-color: #fff;
  //padding: 20px;
  flex-direction: column;
  position: relative;

  .product_main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border-bottom: 1px solid #bdbdbd;
    padding: 20px;
    margin: 20px;
    //margin-bottom: 20px;
    h1 {
      font-size: 48px;
      font-weight: 500;
      color: #221f1f;
      letter-spacing: 1.1px;
    }
  }
  h3 {
    font-size: 24px;
    font-weight: 400;
    color: #221f1f;
    letter-spacing: 1.1px;
    //text-decoration: underline;
    margin-bottom: 10px;
  }
  .product_settings {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
    margin: 20px;
    .classification {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 40%;
      padding: 10px 20px;
      border-right: 1px solid #bdbdbd;
      h3 {
        font-weight: bold;
        //font-size: 18px;
      }
      label {
        width: 100%;
        border-bottom: 1px solid #bdbdbd;
        padding: 10px;
        //border-radius: 15px;
        margin: 5px;
      }
    }

    .description {
      width: 60%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      padding: 10px 20px;
      h3 {
        font-weight: bold;
      }
      p {
        text-align: justify;
        font-weight: 400;
      }

    }

  }
  .table_header {
    width: 50%;
    margin: 20px;
    h3 {
      font-weight: bold;
    }
    td {
      text-align: center;
      padding: 5px;
    }
    .table_title {
      border: 1px solid red;
    }
  }

  .table {
    width: 100%;
    border-top: 1px solid #bdbdbd;
    margin-top: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    table {
      margin: 20px;
      width: 100%;
    }
    h3 {
      font-size: 24px;
      font-weight: bold;
      color: #221f1f;
      letter-spacing: 1.1px;
      margin: 10px;
    }
    .left {
      border-bottom: 1px dotted #bdbdbd;
      padding: 5px;
    }
  }



}

.footer {
  //position: fixed;
  margin-top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  background: #100f10;
  //padding-top: 40px;
  color: #7c7a7a;
  .footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h3 {
      font-size: 1.8rem;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 3rem;
    }
    p {
      max-width: 500px;
      margin: 10px auto;
      line-height: 28px;
      font-size: 14px;
    }
    .socials {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0 3rem 0;
      li {
        margin: 0 10px;
        &:hover {
          svg {
            color: #575656;
          }
        }
      }
      a {
        text-decoration: none;
        color: #7c7a7a;
      }
    }
  }
  .footerBottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
  }

}

.sidebar {
  position: absolute;
  top: 50px;
  left: -100%;
  width: 300px;
  height: fit-content;
  z-index: 3;
  background: #100f10;
  padding: 20px;
  transition: 300ms ease-in-out;
  .divider {
    border: 1px solid #7c7a7a;
    width: 100%;
    display: none;
  }
  .sidebarNav {
    .link {
      .btnLink {
        margin: 5px 0;
        border: none;
        border-radius: 16px;
        background: none;
        padding: 10px;
        width: 100%;
        cursor: pointer;
        color: #7c7a7a;
        transition: 250ms ease-in-out;
        &:hover {
          background: #fff;
          color: #100f10;
        }
      }
      .activeLink {
        background: #fff;
        color: #100f10;
      }
    }
    .response_navLink {
      display: none;
    }
  }
}

.sidebarOpen {
  left: 0;
}

@media (300px <= width <= 1024px) {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 64px;
  }
  .menu {
    display: none;
  }
  .sidebar {
    width: 100%;
    height: 100vh;
    .divider {
      display: flex;
    }
    .sidebarNav {
      .link {
        .btnLink {
          font-size: 22px !important;
        }
      }
      .response_navLink {
        display: flex;
        text-decoration: none;
      }
    }

  }
  .sidebarOpen {
    width: 100%;
    height: 100vh;
  }
}